<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetc.project.mapper.DocumentCheckDao">
    <resultMap id="documentCheckMap" type="com.cetc.model.project.DocumentCheck">
        <id property="id" column="id" />
        <result property="parentId" column="parent_id"/>
        <result property="checkLevel" column="check_level"/>
        <result property="fileName" column="file_name"/>
        <result property="version" column="version"/>
        <result property="designer" column="designer"/>
        <result property="checker" column="checker"/>
        <result property="docType" column="doc_type"/>
        <result property="company" column="company"/>
        <result property="checkGrade" column="check_grade"/>
        <result property="sysConfItem" column="sys_conf_item"/>
        <result property="pageSize" column="page_size"/>
        <result property="matterCount" column="matter_count"/>
        <result property="kingdom" column="kingdom"/>
        <result property="code" column="code"/>
        <result property="project" column="project"/>
        <result property="kingdomId" column="kingdom_id"/>
        <result property="codeId" column="code_id"/>
        <result property="projectId" column="project_id"/>
        <result property="annoFlag" column="anno_flag"/>
        <result property="remark" column="remark"/>
        <result property="createDate" column="create_date"/>
        <result property="createBy" column="create_by"/>
        <result property="updateDate" column="update_date"/>
        <result property="updateBy" column="update_by"/>

    </resultMap>
    <insert id="addDocument">
        INSERT INTO cetc_document_check(
            parent_id,
            check_level,
            file_name,
            version,
            designer,
            checker,
            doc_type,
            company,
            check_grade,
            sys_conf_item,
            page_size,
            matter_count,
            kingdom,
            kingdom_id,
            code,
            code_id,
            project,
            project_id,
            anno_flag,
            remark,
            create_date,
            create_by,
            update_date,
            update_by
        )VALUES(
                #{parentId},
                #{checkLevel},
                #{fileName},
                #{version},
                #{designer},
                #{checker},
                #{docType},
                #{company},
                #{checkGrade},
                #{sysConfItem},
                #{pageSize},
                #{matterCount},
                #{kingdom},
                #{kingdomId},
                #{code},
                #{codeId},
                #{project},
                #{projectId},
                #{annoFlag},
                #{remark},
                #{createDate},
                #{createBy},
                #{updateDate},
                #{updateBy}
                       )

        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>
    <update id="updataDocument" >
        UPDATE cetc_document_check
          <set>
            <if test="version !=null and version !=''">
              version = #{version,jdbcType=VARCHAR},
            </if>
            <if test="designer !=null and designer !=''">
              designer = #{designer,jdbcType=VARCHAR},
            </if>
            <if test="checker !=null and checker !=''">
              checker = #{checker,jdbcType=VARCHAR},
            </if>
            <if test="docType !=null and docType !=''">
              doc_type = #{docType,jdbcType=VARCHAR},
            </if>
            <if test="company !=null and company !=''">
              company = #{company,jdbcType=VARCHAR},
            </if>
            <if test="sysConfItem !=null and sysConfItem !=''">
              sys_conf_item=#{sysConfItem,jdbcType=VARCHAR},
            </if>
            <if test="pageSize !=null">
              page_size=#{pageSize,jdbcType=INTEGER},
            </if>
            <if test="matterCount !=null">
              matter_count=#{matterCount,jdbcType=INTEGER},
            </if>
            <if test="remark !=null and remark !=''">
              remark = #{remark,jdbcType=VARCHAR},
            </if>
          </set>
          where id = #{id}
    </update>

    <delete id="deleteOne">
        DELETE FROM cetc_document_check WHERE id = #{id}
    </delete>
    <delete id="deleteDocumentCheck">
        DELETE FROM cetc_document_check
        <where>
            <if test="parentId != null">
                and parent_id = #{parentId}
            </if>
            <if test="checkLevel != null and checkLevel !=''">
                and check_level = #{checkLevel}
            </if>
            <if test="docType != null and docType !=''">
                and doc_type = #{docType}
            </if>
            <if test="company != null and company !=''">
                and company = #{company}
            </if>
            <if test="checkGrade != null and checkGrade !=''">
                and check_grade = #{checkGrade}
            </if>
            <if test="sysConfItem != null and sysConfItem !=''">
                and sys_conf_item = #{sysConfItem}
            </if>
            <if test="start != null">
                and create_date &gt;= #{start}
            </if>
            <if test="end != null">
                and create_date &lt; #{end}
            </if>
            <if test="designer != null and designer != ''">
                and designer like #{designer}
            </if>
            <if test="checker != null and checker != ''">
                and checker like #{checker}
            </if>
            <if test="kingdomId != null">
                and kingdom_id = #{kingdomId}
            </if>
            <if test="codeId != null">
                and code_id = #{codeId}
            </if>
            <if test="projectId != null">
                and project_id = #{projectId}
            </if>
        </where>
    </delete>
    <select id="queryList" resultMap="documentCheckMap">
        SELECT
        *
        FROM cetc_document_check
        <where>
            <if test="parentId != null">
                and parent_id = #{parentId}
            </if>
            <if test="checkLevel != null and checkLevel !=''">
                and check_level = #{checkLevel}
            </if>
            <if test="docType != null and docType !=''">
                and doc_type = #{docType}
            </if>
            <if test="company != null and company !=''">
                and company = #{company}
            </if>
            <if test="checkGrade != null and checkGrade !=''">
                and check_grade = #{checkGrade}
            </if>
            <if test="sysConfItem != null and sysConfItem !=''">
                and sys_conf_item = #{sysConfItem}
            </if>
            <if test="start != null">
                and create_date &gt;= #{start}
            </if>
            <if test="end != null">
                and create_date &lt; #{end}
            </if>
            <if test="designer != null and designer != ''">
                <bind name="_designer" value="'%' + designer + '%'"/>
                and designer like #{_designer}
            </if>
            <if test="checker != null and checker != ''">
                <bind name="_checker" value="'%' + checker + '%'"/>
                and checker like #{_checker}
            </if>
            <if test="kingdomId != null">
                and kingdom_id = #{kingdomId}
            </if>
            <if test="codeId != null">
                and code_id = #{codeId}
            </if>
            <if test="projectId != null">
                and project_id = #{projectId}
            </if>
        </where>
        ORDER BY update_date DESC
    </select>

</mapper>