<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetc.admin.dao.RoleDao">

    <resultMap id="roleMap" type="com.cetc.model.admin.SysRole">
        <id column="role_id" property="roleId"></id>
        <result column="code" property="code"></result>
        <result column="name" property="name"></result>
        <result column="create_time" property="createTime"></result>
        <result column="update_time" property="updateTime"></result>
    </resultMap>



    <select id="findAll" resultMap="roleMap">
        select * from sys_role where del_flag = 0
    </select>

   <insert id="insert">
       insert into sys_role (code,name,create_time,update_time) values (#{code},#{name},#{createTime},#{updateTime})
   </insert>

    <update id="updateRoleById">
        update sys_role
        <set>
            <if test="code != null and code !=''">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null and name != ''">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where role_id = #{roleId,jdbcType=INTEGER}
    </update>


    <delete id="deleteByRoleId">
        delete from sys_role where role_id =#{roleId}
    </delete>
</mapper>