<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetc.admin.dao.RoleMenuDao">

	<!-- 通用查询映射结果 -->
		<resultMap id="menuMap" type="com.cetc.model.admin.SysMenu">
		<id column="id" property="id"/>
		<result column="permission" property="permission"/>
		<result column="name" property="name"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>

	<select id="findMenusByRoleIds" resultMap="menuMap">
		select m.* from
		sys_menu m
		inner join sys_role_menu rm on
		m.id = rm.menu_id
		<where>
			rm.role_id in
			<foreach collection="roleIds" item="roleId" open="("
				separator="," close=")">
				#{roleId}
			</foreach>
		</where>
	</select>

<select id="findMenuIdsByRoleId" resultType="integer">
	  select menu_Id from sys_role_menu where role_id = #{roleId}
</select>


	<insert id="insertRoleMenuId">
         insert into sys_role_menu (role_id,menu_id) values (#{roleId},#{menuId})
	</insert>

	<delete id="deleteByRoleId">
		delete from sys_role_menu where role_id = #{roleId}
	</delete>


	<delete id="deleteByMenuId">
		delete from sys_role_menu where menu_id = #{menuId}
	</delete>
</mapper>